.card {
    margin: 5px;
    padding: 10px;
}

.card-content {
    width: 100%;
    overflow: hidden;
}

.title {
    word-wrap: break-word;
    text-decoration: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: #000000;
    font-weight: 900;
}

.title:hover {
    color: #ababab;
}

.row-title {
    font-weight: 700;
}

.card p {
    word-wrap: break-word;
    margin: 8px 0;
}

.player-container {
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;
}

audio {
    width: 100%;
}
