body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container {
    margin-left: 10%;
    margin-top: 20px;
    width: 80%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.root-container{
    display: flex;
    color: #000000;
    font-variant: all-petite-caps;
    background-color: yellow;
    min-height: 70px;
    border-bottom: 1px solid rgb(195, 195, 195);
}

.title {
    display: block;
    margin-left: 20px;
    font-variant: all-petite-caps;
    font-weight: 700;
    color: #000000;
}


.nav-btn {
    color: #000000;
    font-weight: 500;
    margin: 5px;
    padding: 5px;
}

.nav-btn:hover{
    color: #808080;
    font-weight: 500;
    margin: 5px;
    padding: 5px;
}
